body {
    background-color: #343a40 !important;

    .card-danger.card-outline {
        border-radius: 10px;
    }

    #particles-container {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }

    .icheck-primary > input:first-child:checked + label::before {
        background-color: #dc3545;
        border-color: #dc3545;
    }
}
